.right-menu{
    float: right;
}
nav a {
    text-decoration: none;
    margin: 0 20px;
    color: rgb(224, 239, 238);
}
nav{
    background-color: rgba(105, 105, 105, 0.895);
    padding: 10px 20;
    margin: -8px;

}
main {
    text-align: center;
    color: rgba(47, 44, 44, 0.888);
}
.search{
    text-align: center;
    margin: 20px 0;

}

.artikujt img{
    border-radius: 12px;
    max-width: 320px;
    max-height: 300px;
}
article{
    display: inline-block;
    margin: 10px;
    text-align: left;
}
.artikujt{
color: rgb(129, 134, 134);
background-color:antiquewhite;

}
footer{
    background-color: antiquewhite;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
footer a{
    margin: 0 15px;
    text-decoration: none;
    color: rgb(161, 105, 133);
}
aside{
    float: right;
    width: 300px;
    margin-left: 20px;
    color: rgb(128, 126, 126);
}
